# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build
Debug/
Release/
x64/
x86/
build/

# C++ intermediários
*.obj
*.pch
*.ipch
*.idb
*.pdb
*.ilk
*.tlog
*.log

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio Database
*.VC.db
*.VC.opendb
*.vsidx

# Executáveis
*.exe
*.out
*.app
